<div class="row">
	<div class="col-xs-3">

		<div class="panel panel-default">
		  		<div class="panel-body">
		            stats
		  	    </div>
		</div>
</div>





		<div class="col-xs-6">
			<div class="panel panel-default">
		  		<div class="panel-body">
		             feed
		  	    </div>
			</div>
		</div>


	<div class="col-xs-3">	
		<div class="panel panel-default">
		  		<div class="panel-body">
		             about
		  	    </div>

	    </div>
    </div>
<div>
				
<div class="column ">
	<div class="col-xs-3">
        <div class="panel panel-default">
		  		<div class="panel-body">
		          trends
		  	    </div>
		</div>
    </div>		
</div>


