
<div class="row">
 	<div class="col-xs-12">		

 		<div class="jumbotron">
 		HEADER
 		</div>
<div class="row">
	<div class="col-xs-3">

		<div class="panel panel-default">
		  		<div class="panel-body">
		            PROFILE
		  	    </div>
		</div>
</div>





		<div class="col-xs-6">
			<div class="panel panel-default">
		  		<div class="panel-body">
		             tweet
		  	    </div>
			</div>
		</div>


	<div class="col-xs-3">	
		<div class="panel panel-default">
		  		<div class="panel-body">
		             whom to follow
		  	    </div>

	    </div>
    </div>
<div>
				
<div class="column ">
	<div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
		  		<div class="panel-body">
		          trends
		  	    </div>
		</div>
    </div>		
</div>


